.PresentacionPage {
    background-image: url("./Imagenes/Fondo.jpg");
    display: flex;
    justify-content: space-around;
}

.ImgHeader {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .ImgHeader {
        display: flex;
        width: 60px;
    }

    .PresentacionPage {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}